# Godot-specific
.import/
.export/
*.tmp
*.import
*.mono
*.cache/
*.log
*.blend1
.godot/
**/.godot/


.DS_Store
Thumbs.db


.vscode/
*.csproj
*.sln
*.userprefs
/bin/
.obj/


*~


*.bak
*.backup
*.swp


